<p id="notice"><%= notice %></p>

<p>
  <strong>Issue title:</strong>
  <%= @search_google.issue_title %>
</p>

<p>
  <strong>Issue rank:</strong>
  <%= @search_google.issue_rank %>
</p>

<p>
  <strong>Issue today total:</strong>
  <%= @search_google.issue_today_total %>
</p>

<p>
  <strong>Issue date:</strong>
  <%= @search_google.issue_date %>
</p>

<p>
  <strong>Issue time:</strong>
  <%= @search_google.issue_time %>
</p>

<%= link_to 'Edit', edit_search_google_path(@search_google) %> |
<%= link_to 'Back', search_googles_path %>
