<p id="notice"><%= notice %></p>

<h1>네이버 실시간 검색어 데이터 크롤링 성공</h1>

<% if false %>
<table>
  <thead>
    <tr>
      <th>Issue title</th>
      <th>Issue rank</th>
      <th>Issue today total</th>
      <th>Issue date</th>
      <th>Issue time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @search_navers.each do |search_naver| %>
      <tr>
        <td><%= search_naver.issue_title %></td>
        <td><%= search_naver.issue_rank %></td>
        <td><%= search_naver.issue_today_total %></td>
        <td><%= search_naver.issue_date %></td>
        <td><%= search_naver.issue_time %></td>
        <td><%= link_to 'Show', search_naver %></td>
        <td><%= link_to 'Edit', edit_search_naver_path(search_naver) %></td>
        <td><%= link_to 'Destroy', search_naver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to 'New Search naver', new_search_naver_path %>
