<p id="notice"><%= notice %></p>

<p>
  <strong>Issue title:</strong>
  <%= @search_naver.issue_title %>
</p>

<p>
  <strong>Issue rank:</strong>
  <%= @search_naver.issue_rank %>
</p>

<p>
  <strong>Issue today total:</strong>
  <%= @search_naver.issue_today_total %>
</p>

<p>
  <strong>Issue date:</strong>
  <%= @search_naver.issue_date %>
</p>

<p>
  <strong>Issue time:</strong>
  <%= @search_naver.issue_time %>
</p>

<%= link_to 'Edit', edit_search_naver_path(@search_naver) %> |
<%= link_to 'Back', search_navers_path %>
