<p id="notice"><%= notice %></p>

<h1>실시간 아이차트 정보</h1>

<table>
  <thead>
    <tr>
      <th>아이차트 랭킹</th>
      <th>아트스트 이름</th>
      <th>노래 제목</th>
      <th>앨범명</th>
      <th>소속사(없으면 빈칸)</th>
      <% if false %>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @i_charts.each do |i_chart| %>
      <tr>
        <td><%= i_chart.iChart_rank %></td>
        <td><%= i_chart.iChart_artist %></td>
        <td><%= i_chart.iChart_song %></td>
        <td><%= i_chart.iChart_album %></td>
        <td><%= i_chart.iChart_etm %></td>
        <% if false %>
        <td><%= link_to 'Show', i_chart %></td>
        <td><%= link_to 'Edit', edit_i_chart_path(i_chart) %></td>
        <td><%= link_to 'Destroy', i_chart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '차트 임의로 추가하기', new_i_chart_path %>
